<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="swagger" type="LNF.WebApi.Swagger.SwaggerConfigurationSection, LNF.WebApi"/>
      <section name="provider" type="LNF.Configuration, LNF"/>
    </sectionGroup>
  </configSections>

  <lnf>
    <swagger title="Billing API" version="v1"/>
    <provider production="false">
      <context loginUrl="/login"/>
      <dataAccess showSql="true"/>
      <email host="xxxxx" port="xxxxx" log="true"/>
      <control host="xxxxx"/>
      <log name="LNF.WebApi.Billing" enabled="true"/>
    </provider>
  </lnf>

  <appSettings>
    <add key="SecurePath" value="xxxxx"/>
    <add key="ApiBaseUrl" value="xxxxx"/>
    <add key="BasicAuthUsername" value="xxxxx"/>
    <add key="BasicAuthPassword" value="xxxxx"/>
    <add key="ApiKey" value="xxxxx"/>
    <add key="AboutPageHeaderText" value="LNF Billing API"/>
    <add key="UseParentRooms" value="true"/>
    <add key="UserApportionmentEmailRecipients" value="xxxxx"/>
    <add key="MonthlyFinancialEmailRecipients" value="xxxxx"/>
    <add key="MongoConnectionString" value="xxxxx"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <connectionStrings>
    <add name="cnSselData" connectionString="xxxxx" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <remove assembly="netfx.force.conflicts"/>
        <remove assembly="System.Data.Common"/>
        <remove assembly="System.Diagnostics.StackTrace"/>
        <remove assembly="System.Diagnostics.Tracing"/>
        <remove assembly="System.Globalization.Extensions"/>
        <remove assembly="System.Net.Sockets"/>
        <remove assembly="System.Runtime.Serialization.Primitives"/>
        <remove assembly="System.Security.Cryptography.Algorithms"/>
        <remove assembly="System.Security.SecureString"/>
        <remove assembly="System.Threading.Overlapped"/>
        <remove assembly="System.Xml.XPath.XDocument"/>
      </assemblies>
    </compilation>

    <httpRuntime targetFramework="4.8"/>

    <authentication mode="Forms">
      <forms name="xxxxx" path="/" loginUrl="/login" timeout="480" protection="All" slidingExpiration="true" domain="xxxxx" cookieless="UseCookies"/>
    </authentication>

    <authorization>
      <allow users="*"/>
    </authorization>

    <machineKey validationKey="xxxxx" decryptionKey="xxxxx" validation="SHA1" decryption="3DES" compatibilityMode="Framework20SP2"/>

    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>
