<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="provider" type="LNF.Impl.Configuration, LNF.Impl" />
    </sectionGroup>
  </configSections>

  <lnf>
    <provider production="false">
      <context loginUrl="/login" />
      <dataAccess showSql="true" universalPassword="lnfmgr" />
      <email host="127.0.0.1" port="4855" log="true" />
      <control host="http://wagosvr:7778/" />
      <log name="LNF.WebApi.Billing.Tests" enabled="true" />
    </provider>
  </lnf>

  <appSettings>
    <add key="SecurePath" value="G:\secure" />
    <add key="ApiBaseUrl" value="https://lnf-jgett.eecs.umich.edu" />
    <add key="BasicAuthUsername" value="debug" />
    <add key="BasicAuthPassword" value="debug" />
  </appSettings>

  <connectionStrings>
    <add name="cnSselData" connectionString="Server=dbserver,1435;Database=sselData;User ID=webapp;Password=TA006UuWEWvfbzVCN1Ts" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
