<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="lnf">
      <section name="provider" type="LNF.ServiceProviderSection, LNF" />
    </sectionGroup>
  </configSections>

  <lnf>
    <provider production="false">
      <context loginUrl="/login" />
      <dataAccess showSql="true" universalPassword="lnfmgr" />
      <email host="127.0.0.1" port="4855" log="true" />
      <control host="http://wagosvr:7778/" />
      <log name="LNF.WebApi.Billing.Tests" enabled="true" />
    </provider>
  </lnf>

  <appSettings>
    <add key="ApiBaseUrl" value="https://lnf-jgett.eecs.umich.edu" />
    <add key="BasicAuthUsername" value="debug" />
    <add key="BasicAuthPassword" value="debug" />
  </appSettings>

  <connectionStrings>
    <add name="cnSselData" connectionString="Server=dbserver,1435;Database=sselData;User ID=webapp;Password=lnf12345" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>